{% extends "layout.html" %}

{% block body %}
<table class="table table-sm table-striped">
    <thead>
        <tr>
            <th>Avoimet vedot</th>
        </tr>
    </thead>
    <tbody>
        <tr class="table-active">
            <th>Ottelupäivä</th>
            <th>Kotijoukkue</th>
            <th>Vierasjoukkue</th>
            <th>Panos</th>
            <th>Kerroin</th>
            <th>Tulos</th>
        </tr>
        <tr>
            {% for bet in bets %}
            <td>{{ bet.date_played }}</td>
            <td>{%for team in teams if team.id == bet.home_team_id%} {{team.name}} {%endfor%} </td>
            <td>{%for team in teams if team.id == bet.away_team_id%} {{team.name}} {%endfor%} </td>
            <td>{{bet.stake}} €</td>
            <td>{{bet.odds}}</td>
            <form method="POST" action="{{ url_for('bet_change_status', bet_id=bet.id) }}">
            <td>{{form.results}}</td>
            <td><input type="submit" value="Lähetä tulos" /></td>
            </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}