{% extends "layout.html" %}

{% block body %}
<div class="container">
    <div class="px-0 col-sm-12 col-md-12 col-lg-12">
        <table class="table table-bordered table table-sm table-striped">
            <thead>
                <b>Vetohistoria</b>
            </thead>
            <tbody>
                <form method="POST" action="{{ url_for('bet_search_results') }}">
                    <tr class>
                        <td>{{form.search}}</td>
                        <td><input type="submit" value="Näytä vedot" /></td>
                    </tr>
                    <tr class="table-active">
                        <th>Ottelupäivä</th>
                        <th>Kotijoukkue</th>
                        <th>Vierasjoukkue</th>
                        <th>Panos</th>
                        <th>Kerroin</th>
                        <th>Tyyppi</th>
                        <th>Veto</th>
                    </tr>
                    <tr>
                        {% for bet in find_results %}
                        <td>{{bet.date_played}}</td>
                        <td>{%for team in teams if team.id == bet.home_team_id%} {{team.name}} {%endfor%}</td>
                        <td>{%for team in teams if team.id == bet.away_team_id%} {{team.name}} {%endfor%} </td>
                        <td>{{bet.stake}} €</td>
                        <td>{{bet.odds}}</td>
                        <td>{%for bet_type in bet_types if bet_type.id == bet.bet_type%} {{bet_type.type}} {%endfor%}
                        </td>
                        <td>{%for bet_result in bet_results if bet_result.id == bet.bet_result%} {{bet_result.result}}
                            {%endfor%}</td>
                    </tr>
                    {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}