{% extends "layout.html" %}

{% block body %}
<table class="table table-sm">
  <form method="POST" action="{{ url_for('teams_create') }}">
    <tr class="table-active">Lisää uusi joukkue</tr>
    <tr>
      <td>
        {{ form.name.label }}
      </td>
      <td>
        {{ form.name }}
      </td>
      <td>
        <ul>
          {% for error in form.name.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <input type="submit" value="Lisää uusi joukkue" />
      </td>
    </tr>
  </form>
</table {% endblock %}